@font-face {
  font-family: 'Muli';
  src: url('/fuentes/muli/Muli-Italic.eot');
  src: url('/fuentes/muli/Muli-Italic.eot?#iefix') format('embedded-opentype'),
      url('/fuentes/muli/Muli-Italic.woff2') format('woff2'),
      url('/fuentes/muli/Muli-Italic.woff') format('woff'),
      url('/fuentes/muli/Muli-Italic.ttf') format('truetype'),
      url('/fuentes/muli/Muli-Italic.svg#Muli-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url('/fuentes/muli/Muli-Bold.eot');
  src: url('/fuentes/muli/Muli-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fuentes/muli/Muli-Bold.woff2') format('woff2'),
      url('/fuentes/muli/Muli-Bold.woff') format('woff'),
      url('/fuentes/muli/Muli-Bold.ttf') format('truetype'),
      url('/fuentes/muli/Muli-Bold.svg#Muli-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url('/fuentes/muli/Muli-Light.eot');
  src: url('/fuentes/muli/Muli-Light.eot?#iefix') format('embedded-opentype'),
      url('/fuentes/muli/Muli-Light.woff2') format('woff2'),
      url('/fuentes/muli/Muli-Light.woff') format('woff'),
      url('/fuentes/muli/Muli-Light.ttf') format('truetype'),
      url('/fuentes/muli/Muli-Light.svg#Muli-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url('/fuentes/muli/Muli-BoldItalic.eot');
  src: url('/fuentes/muli/Muli-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fuentes/muli/Muli-BoldItalic.woff2') format('woff2'),
      url('/fuentes/muli/Muli-BoldItalic.woff') format('woff'),
      url('/fuentes/muli/Muli-BoldItalic.ttf') format('truetype'),
      url('/fuentes/muli/Muli-BoldItalic.svg#Muli-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url('/fuentes/muli/Muli.eot');
  src: url('/fuentes/muli/Muli.eot?#iefix') format('embedded-opentype'),
      url('/fuentes/muli/Muli.woff2') format('woff2'),
      url('/fuentes/muli/Muli.woff') format('woff'),
      url('/fuentes/muli/Muli.ttf') format('truetype'),
      url('/fuentes/muli/Muli.svg#Muli') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url('/fuentes/muli/Muli-ExtraLightItalic.eot');
  src: url('/fuentes/muli/Muli-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('/fuentes/muli/Muli-ExtraLightItalic.woff2') format('woff2'),
      url('/fuentes/muli/Muli-ExtraLightItalic.woff') format('woff'),
      url('/fuentes/muli/Muli-ExtraLightItalic.ttf') format('truetype'),
      url('/fuentes/muli/Muli-ExtraLightItalic.svg#Muli-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url('/fuentes/muli/Muli-ExtraLight.eot');
  src: url('/fuentes/muli/Muli-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('/fuentes/muli/Muli-ExtraLight.woff2') format('woff2'),
      url('/fuentes/muli/Muli-ExtraLight.woff') format('woff'),
      url('/fuentes/muli/Muli-ExtraLight.ttf') format('truetype'),
      url('/fuentes/muli/Muli-ExtraLight.svg#Muli-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url('/fuentes/muli/Muli-LightItalic.eot');
  src: url('/fuentes/muli/Muli-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('/fuentes/muli/Muli-LightItalic.woff2') format('woff2'),
      url('/fuentes/muli/Muli-LightItalic.woff') format('woff'),
      url('/fuentes/muli/Muli-LightItalic.ttf') format('truetype'),
      url('/fuentes/muli/Muli-LightItalic.svg#Muli-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url('/fuentes/muli/Muli-SemiBold.eot');
  src: url('/fuentes/muli/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/fuentes/muli/Muli-SemiBold.woff2') format('woff2'),
      url('/fuentes/muli/Muli-SemiBold.woff') format('woff'),
      url('/fuentes/muli/Muli-SemiBold.ttf') format('truetype'),
      url('/fuentes/muli/Muli-SemiBold.svg#Muli-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url('/fuentes/muli/Muli-Semi-BoldItalic.eot');
  src: url('/fuentes/muli/Muli-Semi-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fuentes/muli/Muli-Semi-BoldItalic.woff2') format('woff2'),
      url('/fuentes/muli/Muli-Semi-BoldItalic.woff') format('woff'),
      url('/fuentes/muli/Muli-Semi-BoldItalic.ttf') format('truetype'),
      url('/fuentes/muli/Muli-Semi-BoldItalic.svg#Muli-Semi-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}


html{
  font-family: 'Noto Sans', sans-serif;
  
}
body {
  position: relative;
  background-color: #f4f5fa;
  color:#23233C;
}

.steps-enter-active,
.steps-leave-active {
  transition: opacity 0.5s;
}
.steps-enter,
.steps-leave-active {
  opacity: 0;
}
.sombra {
  -webkit-box-shadow: 0px 20px 30px 0px rgba(12, 37, 108, 0.13);
  -moz-box-shadow: 0px 20px 30px 0px rgba(12, 37, 108, 0.13);
  box-shadow: 0px 20px 30px 0px rgba(12, 37, 108, 0.13);
}
.sombra-pequena {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(25, 22, 109, 0.1);
  -moz-box-shadow: 0px 10px 20px 0px rgba(25, 22, 109, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(25, 22, 109, 0.1);
}