html{
  font-family: 'Noto Sans', sans-serif;
  
}
body {
  position: relative;
  background-color: #f4f5fa;
  color:#23233C;
}

.steps-enter-active,
.steps-leave-active {
  transition: opacity 0.5s;
}
.steps-enter,
.steps-leave-active {
  opacity: 0;
}
.sombra {
  -webkit-box-shadow: 0px 20px 30px 0px rgba(12, 37, 108, 0.13);
  -moz-box-shadow: 0px 20px 30px 0px rgba(12, 37, 108, 0.13);
  box-shadow: 0px 20px 30px 0px rgba(12, 37, 108, 0.13);
}
.sombra-pequena {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(25, 22, 109, 0.1);
  -moz-box-shadow: 0px 10px 20px 0px rgba(25, 22, 109, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(25, 22, 109, 0.1);
}